*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.primary-btn{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    background-color: #30b868;
}


nav{
    margin: 16px 120px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list-links{
    display: flex;
    gap: 32px;
    list-style: none;
    /* border: 1px solid red; */
}

nav .list-links a{
    text-decoration: none;
    color: black;
    opacity: 90%;
    line-height: 152%;
}
